#Ignorar archivos de macOS innecesarios 
.DS_Store
db.sqlite3
# Ignorar archivos de caché de Python
__pycache__/
*.py[cod]
venv/
env/
.venv/
# Ignorar archivos estáticos generados
static/
# Ignorar archivos subidos por usuarios
media/