{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecotrueques | Sobre nosotros</title>
    <link rel="stylesheet" href="{% static 'core/styles/about.css' %}" />
  </head>
  <body>
    
    <header>
      <nav class="navbar">
        <div data-aos="fade-in" class="nav-left">
          <ul>
            <li><h2 class="logo">Trueque</h2></li>
            <li>
              <a
                data-aos="zoom-in"
                data-aos-duration="2000"
                class="nav-item"
                href="{% url 'articulo-list' %}"
                >Inicio</a
              >
            </li>
            <li>
              <a
                data-aos="zoom-in"
                data-aos-duration="2000"
                class="nav-item"
                href="{% url 'articulos-view-all' %}"
                >Ver articulos</a
              >
            </li>
          </ul>
        </div>
        <div data-aos="fade-in" class="nav-right">
          <ul>

            {% if not request.user.is_authenticated %}
            
            <li>
              <button class="btnLogin-popup" onclick="window.location.href='{% url 'login' %}'">Iniciar sesión</button>
            </li>
            
            <li>
              <a
                data-aos="zoom-in"
                data-aos-duration="2000"
                class="nav-item"
                id="nav-perfil"
                href="{% url 'signup' %}"
                >Registrarse</a
              >
            </li>
            
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <section class="hero-section">
        <div class="hero-content">
          <h2 class="text-nosotros">NOSOTROS</h2>
          <h1 class="text-title">Fomentamos la reutilización para un futuro más sostenible.</h1>
          <p class="text-description">
            Este es el lugar donde los objetos renacen y tú te conviertes en
            parte activa de un mundo más sostenible. En nuestra plataforma,
            hacemos que intercambiar productos sea fácil y significativo,
            brindando a cada artículo una segunda oportunidad de ser útil.
          </p>
          <button class="start-btn">Comenzar a intercambiar</button>
        </div>
        <div class="image">
            <img src="{% static 'core/assets/image.png' %}" alt="Imagen de un intercambio">
        </div>
      </section>

      <section class="content-section">
        <div> 
            <h1>Conoce al equipo</h1>
        </div>

        <div class="container-team">
            <div class="people-container">
                <div class="people">
                    <img src="{% static 'core/assets/Kevin.png' %}" alt="memoji de Kevin">
                </div>
                <h3>Kevin Baizabal</h3>
            </div>
            <div class="people-container">
                <div class="people">
                    <img src="{% static 'core/assets/Ezequiel.png' %}" alt="memoji de Ezequiel">
                </div>
                <h3>Ezequiel Peña</h3>
            </div>
            <div class="people-container">
                <div class="people">
                    <img src="{% static 'core/assets/guisella.png' %}" alt="memoji de Guisella">
                </div>
                <h3>Guisella Chilel</h3>
            </div>
           
            <div class="people-container">
                <div class="people">
                    <img src="{% static 'core/assets/Mario.png' %}" alt="memoji de Mario">
                </div>
                <h3>Mario Moreno</h3>
            </div>
        </div>

      </section>
    </main>
  </body>
</html>
