{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalles del Artículo</title>
    <link rel="stylesheet" href="{% static 'core/styles/product-details.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <style>
     .card {
    height: 350px; /* Altura fija para las tarjetas */
    width: 100%;   /* Ancho completo dentro de la columna */
}

.card-img-top {
    height: 200px; /* Altura fija para las imágenes */

    object-fit: contain; /* Asegura que la imagen cubra el área sin distorsionarse (el cover) */
}

    </style>
    <div class="container mt-5">
      <a href="{% url 'articulo-list' %}" class="btn btn-secondary mb-4">Volver a la Vista Principal</a>

      <div class="row justify-content-center">

          <div class="col-md-8 text-center">

              <!-- Imagen del artículo -->
              {% if articulo.imagen %}
              <img src="{{ articulo.imagen.url }}" class="img-fluid mb-4 zoom" alt="{{ articulo.nombre }}">
              {% else %}
              <p>No hay imagenes disponibles</p>
              {% endif %}
              <h2 class="mb-3">{{ articulo.nombre }}</h2>
              <p class="text-muted">Subido por: {{ articulo.usuario.username }}</p>
              <p class="text-muted">Ubicación: {{ articulo.ubicacion }}</p>
              <p class="text-muted">Publicado el: {{ articulo.fecha_subida }}</p>
              {% if articulo.usuario.email %}
              <!-- <p class="text-muted">Contacto del dueño: {{ articulo.usuario.email }}</p> -->
              <p class="text-muted">Contacto del dueño: El usuario no cuenta con un contacto o lo tiene oculto.</p>
              {% else %}
              <p class="text-muted">Contacto del dueño: El usuario no cuenta con un contacto.</p>
              {% endif %}
              <h4>Descripción:</h4>
              <p>{{ articulo.descripcion }}</p>

              <!--<div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-primary me-2">Me gusta</a>
                  <a href="#" class="btn btn-info">Hablar con el dueño</a>
              </div> -->
          </div>
      </div>

      <h3 class="mt-5">Artículos relacionados</h3>
      <div class="row">
          {% for related_articulo in related_articulos %}
          <div class="col-md-4">
              <div class="card mb-3">
                {% if related_articulo.imagen %}
                  <img src="{{ related_articulo.imagen.url }}" class="card-img-top" alt="{{ related_articulo.nombre }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ related_articulo.nombre }}</h5>
                    <p class="text-muted">Publicado hace: {{ related_articulo.tiempo_transcurrido }}</p> <!-- Tiempo transcurrido -->
                    <a href="{% url 'articulo-detail' related_articulo.id %}" class="btn btn-primary">Ver más</a>
                </div>
              </div>
          </div>
          {% empty %}
          <p>No hay artículos relacionados disponibles.</p>
          {% endfor %}
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
