:root {
  --color-primario: green;
}

body {
  display: flex;
  justify-content: center;
}

.container-nav {
  align-items: center;
  display: flex;
  height: 20vh;
  width: 95vw;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  border-color: gray;
  /* background-color: aqua; */
}

.logo-y-titulo {
  display: flex;
  flex-direction: row;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 40%;
  /* background-color: aqua; */
  color: rgb(20, 240, 20);
  font-weight: 900;
  font-size: 28px;
}
.logo-y-titulo #logo {
  width: 20%;
}
.logo-y-titulo #titulo > section {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(222, 222, 0);
  font-weight: bold;
}
.navs {
  display: flex;
  flex-direction: row;
  width: 60%;
  text-transform: uppercase;
  justify-content: space-around;
  text-align: center;
  font-weight: bold;
  gap: 2%;
}

.boton-navs {
  padding: 5%;
  width: 10%;
  height: 5%;
}

.boton-navs:hover {
  background-color: yellow;
  cursor: pointer;
}
